.container-home {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  min-height: calc(100vh - 95px);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: white;
  font-size: 65px;
}

p {
  color: white;
  font-size: 30px;
}

strong {
  color: white;
}

.container-home img {
  width: 100px;
  margin-bottom: 10px;
}

.options {
  margin: 20px 0;
  width: 450px;
  display: flex;
  flex-direction: column;
}

.options div{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.options .row {
  margin-bottom: 8px;
}

.options strong {
  margin-right: 10px;
}

.option {
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.container-home button {
  width: 20%;
  height: 46px;
  border-radius: 4px;
  border: 0;
  font-size: 16px;
  color: black;
  font-weight: bold;
  margin-top: 8px;
  transition: transform 0.7s;
}

.container-home button:hover {
  transform: scale(1.05);
}

/* Checkbox-Modificado */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #f3cd21;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f3cd21;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}