.containerHeader {
  background-color: rgba(0, 0, 0, 0.2);
}

.body {
  padding: 10px 0;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.body strong {
  color: white;
  font-size: 20px;
}

.body img {
  margin-right: 10px;
}

.containerHeader ul {
  
}

.containerHeader li {
  list-style-type: none;
}

.containerHeader a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  padding: 1px 3px;
}
